<div class="content has-text-centered">
  <h1 class="title is-2">Bienvenido a Trackin Packeges</h1>
  <p class="subtitle is-5">Sistema de seguimiento de paquetes realizado por el equipo umisumi</p>
</div>
